<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>demo1.jpg</string>
		<key>title</key>
		<string>eva</string>
		<key>subtitle</key>
		<string>eva subtitle</string>
	</dict>
	<dict>
		<key>image</key>
		<string>demo2.jpg</string>
		<key>title</key>
		<string>eva</string>
		<key>subtitle</key>
		<string>eva subtitle</string>
	</dict>
	<dict>
		<key>image</key>
		<string>demo3.jpg</string>
		<key>title</key>
		<string>eva</string>
		<key>subtitle</key>
		<string>eva subtitle</string>
	</dict>
	<dict>
		<key>image</key>
		<string>demo4.jpg</string>
		<key>title</key>
		<string>eva</string>
		<key>subtitle</key>
		<string>eva subtitle</string>
	</dict>
	<dict>
		<key>image</key>
		<string>demo5.jpg</string>
		<key>title</key>
		<string>eva</string>
		<key>subtitle</key>
		<string>eva subtitle</string>
	</dict>
	<dict>
		<key>image</key>
		<string>demo6.jpg</string>
		<key>title</key>
		<string>eva</string>
		<key>subtitle</key>
		<string>eva subtitle</string>
	</dict>
	<dict>
		<key>image</key>
		<string>demo7.jpg</string>
		<key>title</key>
		<string>eva</string>
		<key>subtitle</key>
		<string>eva subtitle</string>
	</dict>
	<dict>
		<key>image</key>
		<string>demo8.jpg</string>
		<key>title</key>
		<string>eva</string>
		<key>subtitle</key>
		<string>eva subtitle</string>
	</dict>
	<dict>
		<key>image</key>
		<string>demo9.jpg</string>
		<key>title</key>
		<string>eva</string>
		<key>subtitle</key>
		<string>eva subtitle</string>
	</dict>
	<dict>
		<key>image</key>
		<string>demo10.jpg</string>
		<key>title</key>
		<string>eva</string>
		<key>subtitle</key>
		<string>eva subtitle</string>
	</dict>
	<dict>
		<key>image</key>
		<string>demo11.jpg</string>
		<key>title</key>
		<string>eva</string>
		<key>subtitle</key>
		<string>eva subtitle</string>
	</dict>
</array>
</plist>
